@media (max-width: 500px) {
  main,
  .player--active,
  .rules {
    border-radius: 0;
  }

  main {
    position: relative;
  }

  .dice {
    width: 50px;
    position: absolute;
    top: 35px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .player--1,
  .player--2 {
    height: 600px;
    opacity: 0;
  }

  .player--active {
    position: absolute;
    opacity: 1;
  }

  .player--1 .player--active {
    right: 100px;
    top: 0;
  }

  .player--2 .player--active {
    left: 100px;
    top: 0;
  }

  .btn--home,
  .btn--new {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .btn--home {
    position: absolute;
    top: -70px;
    right: 260px;
  }

  .btn--new {
    position: absolute;
    top: -70px;
    left: 260px;
  }

  .btn--roll {
    position: absolute;
    top: 630px;
    left: 260px;
  }

  .btn--hold {
    position: absolute;
    top: 630px;
    right: 260px;
  }
}
