/* font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #313131;
}

main {
  position: relative;
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 15px;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
}

.total-score p {
  font-family: "Mukta", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  color: #c7365f;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 100px 0;
}

img,
button {
  position: absolute;
}

button {
  border: transparent;
  width: 200px;
  border-radius: 25px;
  font-weight: 900;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

img {
  top: 150px;
}

.btn--new {
  top: 50px;
}

.btn--roll {
  top: 400px;
}

.btn--hold {
  top: 470px;
}

.current {
  background: #c7365f;
  margin: 0 auto;
  width: 200px;
  height: 130px;
  border-radius: 9px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}
